version: "3"
services:
  backend:
    container_name: kms_4.5.0
    image: ghcr.io/cosmian/kms:4.5.0
    ports:
      - 9998:9998
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - VITE_AUTH0_DOMAIN=${VITE_AUTH0_DOMAIN}
        - VITE_AUTH0_CUSTOM_DOMAIN=${VITE_AUTH0_CUSTOM_DOMAIN}
        - VITE_AUTH0_CLIENT_ID=${VITE_AUTH0_CLIENT_ID}
        - VITE_BACKEND_URL=${VITE_BACKEND_URL}
    ports:
      - 3000:3000
