name: Build and publish

env:
  REGISTRY: ghcr.io
  REGISTRY_FRONTEND_IMAGE: ghcr.io/cosmian/saas_applications_examples

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout the repo
        uses: actions/checkout@v3

      - name: Login to GitHub Packages
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker frontend metadata
        id: meta-front
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY_FRONTEND_IMAGE }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build prod frontend docker
        uses: docker/build-push-action@v3
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.REGISTRY_FRONTEND_IMAGE }}:prod
          labels: ${{ steps.meta-front.outputs.labels }}
          # Hide args
          build-args: |
            VITE_BACKEND_URL=$VITE_BACKEND_URL 
            VITE_AUTH0_DOMAIN=$VITE_AUTH0_DOMAIN
            VITE_AUTH0_CUSTOM_DOMAIN=$VITE_AUTH0_CUSTOM_DOMAIN
            VITE_AUTH0_CLIENT_ID=$VITE_AUTH0_CLIENT_ID

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: On prod env
        env:
          REMOTE_URL: developer-example.cosmian.com
          DOCKER_COMPOSE_FILE: saas_applications_examples/prod/docker-compose.yml
        run: |
          ssh cosmian@${REMOTE_URL} docker login ${{ env.REGISTRY }} -u ${{ github.actor }} -p "${{ secrets.GITHUB_TOKEN }}"
          ssh cosmian@${REMOTE_URL} docker-compose -f ${DOCKER_COMPOSE_FILE} pull
          ssh cosmian@${REMOTE_URL} docker-compose -f ${DOCKER_COMPOSE_FILE} -p saas_applications_examples_prod down
          ssh cosmian@${REMOTE_URL} docker-compose -f ${DOCKER_COMPOSE_FILE} -p saas_applications_examples_prod up -d
          ssh cosmian@${REMOTE_URL} service nginx status
          ssh cosmian@${REMOTE_URL} docker system prune -f
